body {
  color: #5A5A5A;
  padding-bottom: 40px;
  padding-top: 25px;
}

.carousel {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 30px;
}

.micro-text {
  
}
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}