@CHARSET "UTF-8";

.btn-xlarge {
  padding: 18px 28px;
  font-size: 22px;
  line-height: normal;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}

div.test-top div[class*="row"]:not(.rounded){
  border: 0px solid;
  background: white;
}

div.test-top div[class*="col-"]:not(.rounded){
  border: 0px solid;
  background: white;
}