<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="ROOT" version="2.5">
  <display-name>ListenB</display-name>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/LDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <context-param>
    <param-name>PARAMETER_ENCODING</param-name>
    <param-value>UTF-8</param-value>
  </context-param>
  <context-param>
    <param-name>EMAIL_CONTACT</param-name>
    <param-value>grooble@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>ANDROID_VERSION</param-name>
    <param-value>108</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>com.grooble.web.DBCPoolingListener</listener-class>
  </listener>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>
      com.grooble.filter.SetCharacterEncodingFilter
    </filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>ignore</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>
      com.grooble.filter.AuthenticationFilter
    </filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>ImageBlocker</filter-name>
    <filter-class>com.grooble.filter.ImageFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ImageBlocker</filter-name>
    <url-pattern>/profile/*/images</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>LearnTestPage</servlet-name>
    <jsp-file>/WEB-INF/testpageR.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>LearnTestPage</servlet-name>
    <url-pattern>/LearnTest.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudyList</servlet-name>
    <jsp-file>/WEB-INF/studyselect.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudyList</servlet-name>
    <url-pattern>/StudyList.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindByEmail</servlet-name>
    <jsp-file>/WEB-INF/friendfinder-r.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindByEmail</servlet-name>
    <url-pattern>/findByEmail.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Learner</servlet-name>
    <jsp-file>/WEB-INF/learn.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Learner</servlet-name>
    <url-pattern>/Learn.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Profile</servlet-name>
    <jsp-file>/WEB-INF/tests-03.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/ShowProfile.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FlashCard</servlet-name>
    <jsp-file>/WEB-INF/flashcard.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlashCard</servlet-name>
    <url-pattern>/FlashCard.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RespTestMenu</servlet-name>
    <jsp-file>/WEB-INF/testmenu-r.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>RespTestMenu</servlet-name>
    <url-pattern>/TestChooseR.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindFriend</servlet-name>
    <servlet-class>com.grooble.web.FriendFinder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindFriend</servlet-name>
    <url-pattern>/finder.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AndroidTest</servlet-name>
    <servlet-class>com.grooble.web.AndroidTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidTest</servlet-name>
    <url-pattern>/AndroidTest.go</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewTest</servlet-name>
    <servlet-class>com.grooble.web.NewTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewTest</servlet-name>
    <url-pattern>/GetTest.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SoundTest</servlet-name>
    <jsp-file>/WEB-INF/SoundTest.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>SoundTest</servlet-name>
    <url-pattern>/testsound.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CompleteTest</servlet-name>
    <servlet-class>com.grooble.web.CompleteTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompleteTest</servlet-name>
    <url-pattern>/Complete.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BackupPwd</servlet-name>
    <servlet-class>com.grooble.android.AddBackup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackupPwd</servlet-name>
    <url-pattern>/Recovery.to</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegUpdate</servlet-name>
    <servlet-class>com.grooble.android.RegUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegUpdate</servlet-name>
    <url-pattern>/UpReg.to</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Manager</servlet-name>
    <servlet-class>com.grooble.web.Manager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Manager</servlet-name>
    <url-pattern>/Manage.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Stream</servlet-name>
    <servlet-class>com.grooble.web.ImageStreamer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Stream</servlet-name>
    <url-pattern>/show_image</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Stream</servlet-name>
    <url-pattern>/users/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReviewTest</servlet-name>
    <servlet-class>com.grooble.web.Review</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewTest</servlet-name>
    <url-pattern>/ReviewTest.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PwdRecovery</servlet-name>
    <servlet-class>com.grooble.android.PasswordRecovery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PwdRecovery</servlet-name>
    <url-pattern>/RecoverPwd.to</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Grader</servlet-name>
    <servlet-class>com.grooble.web.TestGrade</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Grader</servlet-name>
    <url-pattern>/GradeMe.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogMeIn</servlet-name>
    <servlet-class>com.grooble.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogMeIn</servlet-name>
    <url-pattern>/Login.to</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Uploader</servlet-name>
    <servlet-class>com.grooble.web.UploadHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Uploader</servlet-name>
    <url-pattern>/ProcessUpload.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddNewMember</servlet-name>
    <servlet-class>com.grooble.web.JoinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewMember</servlet-name>
    <url-pattern>/NewMember.to</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewTestList</servlet-name>
    <servlet-class>com.grooble.web.TestView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTestList</servlet-name>
    <url-pattern>/TestList.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResultJSP</servlet-name>
    <jsp-file>/WEB-INF/result2.jsp</jsp-file>
    <load-on-startup>4</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultJSP</servlet-name>
    <url-pattern>/Result.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckJSP</servlet-name>
    <jsp-file>/WEB-INF/check.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckJSP</servlet-name>
    <url-pattern>/Check.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JoinJSP</servlet-name>
    <jsp-file>/WEB-INF/join.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinJSP</servlet-name>
    <url-pattern>/Join.to</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FriendAdder</servlet-name>
    <servlet-class>com.grooble.friend.RequestFriend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendAdder</servlet-name>
    <url-pattern>/FAdder.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConfMessage</servlet-name>
    <jsp-file>/WEB-INF/msgPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfMessage</servlet-name>
    <url-pattern>/ConfMsg.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LookupPassword</servlet-name>
    <servlet-class>com.grooble.web.RecoverPwd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LookupPassword</servlet-name>
    <url-pattern>/pwdLookup.to</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RecoverForm</servlet-name>
    <jsp-file>/WEB-INF/passwdLookupForm.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecoverForm</servlet-name>
    <url-pattern>/recoverForm.to</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FriendView</servlet-name>
    <servlet-class>com.grooble.web.FriendViewer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendView</servlet-name>
    <url-pattern>/FView.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SeeFriend</servlet-name>
    <jsp-file>/WEB-INF/friendPage-2.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeeFriend</servlet-name>
    <url-pattern>/ShowFriend.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Mailer</servlet-name>
    <servlet-class>com.grooble.web.AppMailer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mailer</servlet-name>
    <url-pattern>/SendMail.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>StatusUpdate</display-name>
    <servlet-name>StatusUpdate</servlet-name>
    <servlet-class>com.grooble.web.StatusUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatusUpdate</servlet-name>
    <url-pattern>/StatusUpdate.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StatusGrabber</servlet-name>
    <servlet-class>com.grooble.web.MoreStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatusGrabber</servlet-name>
    <url-pattern>/GetMore.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PwdUpdater</servlet-name>
    <servlet-class>com.grooble.web.PwdEntry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PwdUpdater</servlet-name>
    <url-pattern>/PwdUpdate.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PwdForm</servlet-name>
    <jsp-file>/WEB-INF/pwdEntry.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>PwdForm</servlet-name>
    <url-pattern>/ChangePwdForm.to</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NameForm</servlet-name>
    <jsp-file>/WEB-INF/addName.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>NameForm</servlet-name>
    <url-pattern>/ChangeName.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JoinConfirmation</display-name>
    <servlet-name>JoinConfirmation</servlet-name>
    <servlet-class>com.grooble.web.JoinConfirmation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinConfirmation</servlet-name>
    <url-pattern>/Confirm.to</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecoverPwd</display-name>
    <servlet-name>RecoverPwd</servlet-name>
    <servlet-class>com.grooble.web.RecoverPwd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecoverPwd</servlet-name>
    <url-pattern>/RecoverPwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPassword</display-name>
    <servlet-name>ResetPassword</servlet-name>
    <servlet-class>com.grooble.web.ResetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPassword</servlet-name>
    <url-pattern>/PwdSetter.to</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PwdEntry</display-name>
    <servlet-name>PwdEntry</servlet-name>
    <servlet-class>com.grooble.web.PwdEntry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PwdEntry</servlet-name>
    <url-pattern>/PwdEntry.to</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendJSONTest</display-name>
    <servlet-name>SendJSONTest</servlet-name>
    <servlet-class>com.grooble.web.SendJSONTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendJSONTest</servlet-name>
    <url-pattern>/GetJSON.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NameUpdate</display-name>
    <servlet-name>NameUpdate</servlet-name>
    <servlet-class>com.grooble.web.NameUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NameUpdate</servlet-name>
    <url-pattern>/Namer.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestScreen</display-name>
    <servlet-name>TestScreen</servlet-name>
    <servlet-class>com.grooble.web.TestScreen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestScreen</servlet-name>
    <url-pattern>/TestScreen</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FBSignin</servlet-name>
    <servlet-class>com.grooble.web.FBLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FBSignin</servlet-name>
    <url-pattern>/FBLogin.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginSetup</servlet-name>
    <servlet-class>com.grooble.web.LoginSetup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSetup</servlet-name>
    <url-pattern>/Setup.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>hit by cronjob every hour to keep java running</description>
    <display-name>WakerUpper</display-name>
    <servlet-name>WakerUpper</servlet-name>
    <servlet-class>com.grooble.web.Waker</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WakerUpper</servlet-name>
    <url-pattern>/WakeMe.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.grooble.web.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Signout.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>FBDeploy</display-name>
    <servlet-name>FBDeploy</servlet-name>
    <servlet-class>com.grooble.web.FBDeploy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FBDeploy</servlet-name>
    <url-pattern>/FBDeploy.to</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PWDEncrypter</servlet-name>
    <servlet-class>com.grooble.web.EncryptPasswords</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PWDEncrypter</servlet-name>
    <url-pattern>/EncryptAll.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>DeleteComment</servlet-name>
    <servlet-class>com.grooble.web.DeleteComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteComment</servlet-name>
    <url-pattern>/CommOff.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowProfilePics</servlet-name>
    <jsp-file>/WEB-INF/profilepics.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProfilePics</servlet-name>
    <url-pattern>/ProfilePics.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProfilePicList</servlet-name>
    <servlet-class>com.grooble.web.ShowPics</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfilePicList</servlet-name>
    <url-pattern>/GetProfilePics.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>PicDeleter</display-name>
    <servlet-name>PicDeleter</servlet-name>
    <servlet-class>com.grooble.web.PicDeleter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PicDeleter</servlet-name>
    <url-pattern>/HandleProfilePic.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadStatus</display-name>
    <servlet-name>LoadStatus</servlet-name>
    <servlet-class>com.grooble.web.LoadStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadStatus</servlet-name>
    <url-pattern>/StatusLoader.do</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>401</error-code>
    <location>/Signout.do</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/Signout.do</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/Signout.do</location>
  </error-page>
  <error-page>
    <error-code>503</error-code>
    <location>/Signout.do</location>
  </error-page>
  <servlet>
    <servlet-name>ConfirmFriend</servlet-name>
    <servlet-class>com.grooble.friend.ConfirmFriend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmFriend</servlet-name>
    <url-pattern>/Pender.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UnFriend</display-name>
    <servlet-name>UnFriend</servlet-name>
    <servlet-class>com.grooble.friend.UnFriend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnFriend</servlet-name>
    <url-pattern>/UnFriender.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewJSON</display-name>
    <servlet-name>ReviewJSON</servlet-name>
    <servlet-class>com.grooble.web.ReviewJSON</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewJSON</servlet-name>
    <url-pattern>/GetRevJSON.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Contact</servlet-name>
    <jsp-file>/WEB-INF/about.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contact</servlet-name>
    <url-pattern>/Contact.to</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllQuestions</display-name>
    <servlet-name>GetAllQuestions</servlet-name>
    <servlet-class>com.grooble.android.GetAllQuestions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllQuestions</servlet-name>
    <url-pattern>/ListQuestions.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AndroidLogin</display-name>
    <servlet-name>AndroidLogin</servlet-name>
    <servlet-class>com.grooble.android.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidLogin</servlet-name>
    <url-pattern>/LoginA.to</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AndroidAddStatus</display-name>
    <servlet-name>AndroidAddStatus</servlet-name>
    <servlet-class>com.grooble.android.StatusUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidAddStatus</servlet-name>
    <url-pattern>/UpdateStatus.to</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AnswerHandler</display-name>
    <servlet-name>AndroidAddAnswer</servlet-name>
    <servlet-class>com.grooble.android.ProcessTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidAddAnswer</servlet-name>
    <url-pattern>/Answer.to</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AnswerHandler2</display-name>
    <servlet-name>AndroidAddAnswer2</servlet-name>
    <servlet-class>com.grooble.android.ProcessTest2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidAddAnswer2</servlet-name>
    <url-pattern>/Answer2.to</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ContactHandler</display-name>
    <servlet-name>AndroidFindRegistered</servlet-name>
    <servlet-class>com.grooble.android.ContactUtils</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidFindRegistered</servlet-name>
    <url-pattern>/FindReg.to</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>FriendProcesses</display-name>
    <servlet-name>DoFriendUpdates</servlet-name>
    <servlet-class>com.grooble.android.FriendProcesses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoFriendUpdates</servlet-name>
    <url-pattern>/FriendUpdates.to</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>FetchChallengeTester</display-name>
    <servlet-name>ChallengeTest</servlet-name>
    <servlet-class>com.grooble.android.RecoverTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChallengeTest</servlet-name>
    <url-pattern>/TestFetcher.to</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DeleteFriend</display-name>
    <servlet-name>DeFriender</servlet-name>
    <servlet-class>com.grooble.android.DeleteFriend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeFriender</servlet-name>
    <url-pattern>/UnFriender.to</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DeleteStatus</display-name>
    <servlet-name>DeStat</servlet-name>
    <servlet-class>com.grooble.android.DeleteStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeStat</servlet-name>
    <url-pattern>/UnComment.to</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UpdateName</display-name>
    <servlet-name>NameUpdater</servlet-name>
    <servlet-class>com.grooble.android.UserUpdateUtils</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NameUpdater</servlet-name>
    <url-pattern>/DoName.to</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Inviter</display-name>
    <servlet-name>Inviter</servlet-name>
    <servlet-class>com.grooble.android.Inviter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inviter</servlet-name>
    <url-pattern>/InviteFriend.to</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AndroidSignin</display-name>
    <servlet-name>AJoin</servlet-name>
    <servlet-class>com.grooble.android.Join</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AJoin</servlet-name>
    <url-pattern>/JoinerA.to</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageHandler</display-name>
    <servlet-name>UploadImageHandler</servlet-name>
    <servlet-class>com.grooble.android.ImageHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadImageHandler</servlet-name>
    <url-pattern>/ImageIn.to</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageHandler</display-name>
    <servlet-name>PenderFriender</servlet-name>
    <servlet-class>com.grooble.android.FriendPending</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PenderFriender</servlet-name>
    <url-pattern>/PendFriendMe.to</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TutorialHandler</display-name>
    <servlet-name>TutHandler</servlet-name>
    <servlet-class>com.grooble.android.TutUpdateHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TutHandler</servlet-name>
    <url-pattern>/DoTut.to</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestIdFetcher</display-name>
    <servlet-name>FetchTestId</servlet-name>
    <servlet-class>com.grooble.android.TestIdFetcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchTestId</servlet-name>
    <url-pattern>/newid.to</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FriendsOfFriend</display-name>
    <servlet-name>FriendsOfFriend</servlet-name>
    <servlet-class>com.grooble.android.FriendsOfFriend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendsOfFriend</servlet-name>
    <url-pattern>/GetFOF.to</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Commenter</display-name>
    <servlet-name>UpdateComment</servlet-name>
    <servlet-class>com.grooble.android.CommentUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateComment</servlet-name>
    <url-pattern>/putComment.to</url-pattern>
  </servlet-mapping>
</web-app>